{% if not standings %}
    <div class="dimmed light">Loading...</div>
{% else %}
<header>
    <img src="{{ league.avatar }}" alt="{{ league.name }} logo" class="avatar" style="margin-right: 15px"> 
    {{ league.name }} - week {{ week }} ({{ season }})
</header>
   <table class="table">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th class="wider-padding"></th>
                <th>PF</th>
                <th>PA</th>
                <th>Waiver</th>
            </tr>
        </thead>
        <tbody>
            {% for team in standings %}
                <tr class="row">
                    <td>
                        <img src="{{ team.avatar }}" alt="{{ team.teamName }} logo" class="avatar">
                    </td>
                    <td>
                        {{ team.rank }}
                    </td>
                    <td>
                        {{ team.teamName }}
                    </td>
                    <td>
                        {{ team.wins }}-{{ team.losses }}-{{ team.ties }}
                    </td>
                    <td>
                        {{ team.ptsFor }}
                    </td>
                    <td>
                        {{ team.ptsAgainst }}
                    </td>
                    <td>
                        <center>{{ team.waiverPosition }}</center>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
