td, th {
    padding-right: 10px;
}

.wider-padding {
    padding-right: 30px;
}

.avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.league-avatar-spacing {
    margin-right: 15px;
}